body {
  margin: 0px;
  background-color: #212121;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #151515;
}

header nav {
  display: grid;
  background-color: #333;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

header nav a {
  color: #ddd;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  font-family: Helvetica;
}

header nav a:hover {
  background-color: #ddd;
  color: #333;
}

h1 {
	color: #a6a6a6;
	padding: 30px;
}

.content {
	background-color: #dedede;
	margin: 20px;
	padding: 30px;
}
